<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamkiss.noteplan-fts-simple</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5A157461-8B06-49FA-A698-BB502855E8AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5DD26B5-9FDC-4B7E-ACDB-9BF8AC0EAD8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AFF6646-A3DC-43C5-9235-F49D48874AA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>178C476E-3AF1-4ABC-8337-BF2AB2C558D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DB4467D-10DB-45A8-8E32-BCDF2B0DBE37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEEC04BF-BCC3-48C7-ADB1-9A2C21C1987C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEEC04BF-BCC3-48C7-ADB1-9A2C21C1987C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AFF6646-A3DC-43C5-9235-F49D48874AA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5DD26B5-9FDC-4B7E-ACDB-9BF8AC0EAD8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>178C476E-3AF1-4ABC-8337-BF2AB2C558D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA6497CD-E68A-46E3-AEDA-366F1B43E33D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AEEC04BF-BCC3-48C7-ADB1-9A2C21C1987C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Kiss</string>
	<key>description</key>
	<string>Scripted full-text search for Noteplan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Noteplan Scripted FTS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>178C476E-3AF1-4ABC-8337-BF2AB2C558D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>sn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Looking for {query}</string>
				<key>script</key>
				<string>./search.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Full-text search for Noteplan</string>
				<key>title</key>
				<string>Noteplan FTS</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A157461-8B06-49FA-A698-BB502855E8AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^noteplan://</string>
						<key>outputlabel</key>
						<string>Existing</string>
						<key>uid</key>
						<string>AA6497CD-E68A-46E3-AEDA-366F1B43E33D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Create</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F5DD26B5-9FDC-4B7E-ACDB-9BF8AC0EAD8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Listing folders…</string>
				<key>script</key>
				<string>./create.sh "${title}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Full-text search for Noteplan</string>
				<key>title</key>
				<string>Create note "{var:title}"</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7AFF6646-A3DC-43C5-9235-F49D48874AA8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AEEC04BF-BCC3-48C7-ADB1-9A2C21C1987C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>snn</string>
				<key>subtext</key>
				<string>Create a note named "{query}"</string>
				<key>text</key>
				<string>Create a note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7DB4467D-10DB-45A8-8E32-BCDF2B0DBE37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simpler little brother of my big Noteplan Full-Text Search workflow.

Uses bundled CLI tools to be fully self-sufficient.</string>
	<key>uidata</key>
	<dict>
		<key>178C476E-3AF1-4ABC-8337-BF2AB2C558D9</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Opens a callback</string>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5A157461-8B06-49FA-A698-BB502855E8AA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>SEARCH/CREATE</string>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>7AFF6646-A3DC-43C5-9235-F49D48874AA8</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7DB4467D-10DB-45A8-8E32-BCDF2B0DBE37</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>CREATE</string>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>AEEC04BF-BCC3-48C7-ADB1-9A2C21C1987C</key>
		<dict>
			<key>note</key>
			<string>Capture title</string>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>F5DD26B5-9FDC-4B7E-ACDB-9BF8AC0EAD8F</key>
		<dict>
			<key>note</key>
			<string>match /^noteplan:/// - it's callback for existing note, otherwise it's a title</string>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>format_calendar_title</key>
		<string>%d.%m.%Y</string>
		<key>format_new_note</key>
		<string>---
title: {title}
---</string>
		<key>np_root</key>
		<string>/Users/adam/Library/Containers/co.noteplan.NotePlan-setapp/Data/Library/Application Support/co.noteplan.NotePlan-setapp</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>np_root</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://adamkiss.com</string>
</dict>
</plist>
